<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="catalogo.component.css">
    <h2 class="featurette-heading text-center">COMPACTADORES<span class="text-muted"> Nuevos Equipos</span></h2>
    <div *ngFor="let maquinas of Maquinaria" class="container">

      <div class="card">
          <img src="https://s7d2.scene7.com/is/image/Caterpillar/C756618?$cc-s$">
          <h4>Rodillos de neumáticos CW34</h4>
          <p>ESPECIFICACIONES CLAVE<br>

            Peso de funcionamiento: máquina estándar vacía
            10000 kg
            Peso de funcionamiento: lastre máximo
            27000 kg
            Anchura de compactación
            2090 mm</p>
            <p>Cantidad: </p>{{ maquinas.cantidad }}

      </div>

      <div class="card">
          <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20211115-7716e-cf52c?$cc-s$">
          <h4>Compactadores de basuras 826K</h4>
          <p>ESPECIFICACIONES CLAVE<br>

            Peso de funcionamiento
            40917 kg
            Potencia bruta
            324 kW
            Potencia neta
            302 kW</p>
            <p>Cantidad: </p>{{ maquinas.cantidad }}


      </div>

      <div class="card">
          <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20170519-34210-58651?$cc-s$">
          <h4>Rodillos vibratorios en tándem CB2.7</h4>
          <p>ESPECIFICACIONES CLAVE<br>

            Potencia bruta
            22.9 kW
            Peso de funcionamiento máximo
            3088 kg
            Anchura de compactación estándar
            1200 mm</p>
            <p>Cantidad: </p>{{ maquinas.cantidad }}


      </div>




</div>
<br>
<hr class="featurette-divider">
<h2 class="featurette-heading text-center">EXCAVADORAS<span class="text-muted"></span></h2>
<div *ngFor="let maquinas of Maquinaria" class="container">

  <div class="card">
      <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20180531-47124-48238?$cc-s$">
      <h4>Miniexcavadoras 301.5</h4>
      <p>ESPECIFICACIONES CLAVE<br>

        Potencia neta
        15.7 kW
        Peso de funcionamiento
        1775 kg
        Profundidad de excavación
        2540 mm</p>
        <p>Cantidad: </p>{{ maquinas.cantidad }}


  </div>

  <div class="card">
      <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20170417-41113-10247?$cc-s$">
      <h4>Excavadoras medianas 320 GC</h4>
      <p>ESPECIFICACIONES CLAVE<br>

        Potencia neta: ISO 9249
        109 kW
        Peso de funcionamiento
        21900 kg
        Profundidad máxima de excavación
        6720 mm</p>
        <p>Cantidad: </p>{{ maquinas }}

  </div>

  <div class="card">
      <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20200610-bb47a-73805?$cc-s$">
      <h4>Excavadoras de demolición 340 UHD</h4>
      <p>ESPECIFICACIONES CLAVE<br>

        Peso de funcionamiento
        58050 kg
        Altura máxima del bulón en el extremo del balancín
        22 m
        Peso máximo en el extremo del balancín
        3700 kg</p>
        <p>Cantidad: </p>{{ maquinas }}


  </div>
</div>
<br>
<hr class="featurette-divider">
<h2 class="featurette-heading text-center">HOJAS DE EMPUJE<span class="text-muted"> Ultimos Modelos</span></h2>
<div *ngFor="let maquinas of Maquinaria" class="container">

  <div class="card">
      <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20200423-c58a6-caed4?$cc-s$">
      <h4>Hojas de empuje pequeñas D2</h4>
      <p>ESPECIFICACIONES CLAVE<br>

        Modelo de motor
        Cat® C3.6
        Potencia: neta
        68.8 kW
        Peso de funcionamiento
        8338 kg</p>
        <p>Cantidad: </p>{{ maquinas.cantidad }}

  </div>

  <div class="card">
      <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20181212-27747-60351?$cc-s$">
      <h4>Hojas de empuje grandes D11 / D11 CD</h4>
      <p>ESPECIFICACIONES CLAVE<br>

        Modelo de motor
        Cat® C32
        Potencia del motor: neta SAE J1349/ISO 9249, avance
        634 kW
        Peso de funcionamiento
        104236 kg</p>
        <p>Cantidad: </p>{{ maquinas.cantidad }}

  </div>

  <div class="card">
      <img src="https://s7d2.scene7.com/is/image/Caterpillar/CM20210831-6c147-d1861?$cc-s$">
      <h4>Tractores de ruedas 824K</h4>
      <p>ESPECIFICACIONES CLAVE<br>

        Modelo de motor
        Cat® C15
        Potencia neta: ISO 9249
        302 kW
        Carrera
        171.4 mm</p>
        <p>Cantidad: </p>{{ maquinas.cantidad }}

  </div>
</div>

<br>

<hr class="featurette-divider">




