
<header>
  <img height="60px" width="110px" src="../../assets/logo.png">
  <a href="#" class ="logo"> CATERPILLAR</a>
  <ul style="font-size: 20px;">
    <li><a routerLink="/home"> Home</a></li>
    <li><a routerLink="/servicios"> Servicios</a></li>
    <li><a routerLink="/catalogo"> Catalogo</a></li>
    <li><a routerLink="/pedidos"> Pedidos</a></li>
    <li><a routerLink="/contactos"> Contactos</a></li>
  </ul> 

</header> 
<section class="banner">

</section>
<script type="text/javascript">
  window.addEventListener("scroll", function(){
    var header = document.querySelector("header");
    header.classList.toggle("sticky",window.scrollY > 0)
  })
</script>
