<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img height="110px" width="110px" src="../../assets/logo.png">
    <a style="font-size: 40px; color: #45322E;" class="navbar-brand fw-bolder" routerLink="/">CATERPILLAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
      <ul style="font-size: 20px;" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formulario">Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactos">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactos">Contactos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
