<h1 class="featurette-heading text-center">PRODUCTOS</h1>
    <h2 class="featurette-heading text-center">Linea de productos CATERPILLAR<span class="text-muted"></span></h2>
    <p class="text-center">Tenemos la intención de ayudarle a satisfacer sus necesidades con nuestro equipo, con nuestro sistema de distribución y soporte de productos, y la incorporación constante y actualización de productos.</p>

<div class="row featurette">
  <div class="col-md-7 px-5">
    <h2 class="featurette-heading text-center">ACCESORIOS<span class="text-muted"></span></h2>
    <h2 class="featurette-heading text-center">Acopladores- Cargador<span class="text-muted"> 50.000$</span></h2>
    <p class="text-center">Fusion TM para 950 k/M-962 K/M, carga rapida y confiable, peso 566 Kg. </p>
    <p class="text-center">ENVIOS NACIONALES A TODO EL PAIS E INTERNACIONALES.  </p>
    <h3 class="text-center" >Venta/Alquiler</h3>
    <p class="text-center"><a class="btn btn-secondary" href="#">Buscar Distribuidor</a></p>
  </div>
  <div class="col-md-5 order-md-1">
    <img width="300px" class="rounded mx-auto d-block" src="https://s7d2.scene7.com/is/image/Caterpillar/CM20190930-98803-67535?$cc-g$">

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2 px-5">
    <h2 class="featurette-heading text-center">ACCESORIOS<span class="text-muted"></span></h2>
    <h2 class="featurette-heading text-center">Ruedas de Compactacion<span class="text-muted"> 70.000$</span></h2>
    <p class="text-center">Ancho de compactación: 271 mm,Cantidad de ruedas 2,Clase de máquina:Miniexcavadoras de 1 tonelada.</p>
    <p class="text-center">ENVIOS NACIONALES A TODO EL PAIS E INTERNACIONALES.  </p>
    <h3 class="text-center" >Venta/Alquiler</h3>
    <p class="text-center"><a class="btn btn-secondary" href="#">Buscar Distribuidor</a></p>
  </div>
  <div class="col-md-5 order-md-1">
    <img width="300px" class="rounded mx-auto d-block" src="https://s7d2.scene7.com/is/image/Caterpillar/CM20200108-90fd2-3855d?$cc-g$&fmt=pjpeg">

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 px-5">
    <h2 class="featurette-heading text-center">ACCESORIOS<span class="text-muted"></span></h2>
    <h2 class="featurette-heading text-center">Arados<span class="text-muted"> 30.000$</span></h2>
    <p class="text-center">Ancho de trabajo:1848 mm,profundidad de operacion:25-152 mm, peso 420 Kg. </p>
    <p class="text-center">ENVIOS NACIONALES A TODO EL PAIS E INTERNACIONALES.  </p>
    <h3 class="text-center" >Venta/No alquier</h3>
    <p class="text-center"><a class="btn btn-secondary" href="#">Buscar Distribuidor</a></p>
  </div>
  <div class="col-md-5">
    <img class="rounded mx-auto d-block" width="300px" src="https://s7d2.scene7.com/is/image/Caterpillar/CM20160718-54658-48988?$cc-s$">

  </div>
</div>

<hr class="featurette-divider">

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2 px-5">
    <h2 class="featurette-heading text-center">GENERADOR DE POTENCIA ELECTRICA<span class="text-muted"></span></h2>
    <h2 class="featurette-heading text-center">Grupos electrogenos - diesel<span class="text-muted"> 1050.000$</span></h2>
    <p class="text-center">Clasificacion maxima: 8,8 ekW, clasificacion mínima: 8,0 ekW, estrategia de emisiones y combustible: Equivalente R96/EUIIIA. </p>
    <p class="text-center">ENVIOS NACIONALES A TODO EL PAIS E INTERNACIONALES.  </p>
    <h3 class="text-center" >Venta/Alquiler</h3>
    <p class="text-center"><a class="btn btn-secondary" href="#">Buscar Distribuidor</a></p>
  </div>
  <div class="col-md-5 order-md-1">
    <img width="300px" class="rounded mx-auto d-block" src="https://s7d2.scene7.com/is/image/Caterpillar/C10793169?$cc-g$">

  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 px-5">
    <h2 class="featurette-heading text-center">SISTEMAS DE POTENCIA<span class="text-muted"></span></h2>
    <h2 class="featurette-heading text-center">Motor electrico CN1566<span class="text-muted"> 900.000$</span></h2>
    <p class="text-center">Voltaje/frecuencia: 4000 V +- 10 %, clase de proteccion tipo 1, division 2, grupo A B C D T3. </p>
    <p class="text-center">ENVIOS NACIONALES A TODO EL PAIS E INTERNACIONALES.  </p>
    <h3 class="text-center" >Venta/Alquiler</h3>
    <p class="text-center"><a class="btn btn-secondary" href="#">Buscar Distribuidor</a></p>
  </div>
  <div class="col-md-5">
    <img class="rounded mx-auto d-block" width="300px" src="https://www.mustangcat.com/wp-content/uploads/2022/03/CM20160804-32975-45925.jpg?wid=307&hei=270&op_sharpen=1&qlt=100">

  </div>
</div>

<!-- /END THE FEATURETTES -->
